@font-face {
    font-family: Barlow;
    src: url("/content/fonts/Barlow-Regular.ttf");
}

@font-face {
    font-family: BarlowBold;
    src: url("/content/fonts/Barlow-Bold.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("/content/fonts/Montserrat-Regular.otf");
}

* {
    box-sizing: border-box;
    vertical-align: middle;
}

.bold, b {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

:root {
    --cor1: #ee6013;
    --cor2: #eca494;
    --cor3: #f7f5e7;
    --cor4: #e38d41;
    --cor5: #d9996d;
    --cor6: #bf5527;
    --cor7: #80bd2b;
    --cor8: #599b29;
    --cor9: #85af3d;
    --cor10: #a4c498;

    --backgroundHeader: #ee6013dd;
    --backgroundFooter: #ee7e3aaa;
    --backgroundBanner1: #ee601355;
    --backgroundBannerTextos: #599b29dd;
    --backgroundBannerTreinos: #ee6013dd;
    --backgroundTextoTreinos: #ee6013;
    --corEbooksHover: #e38d41aa;
    --textColorHeader: white;
    --textColorFooter: #000000;
    --textColorHeaderHover: #ec5437;
    --textColorFooterHover: #ec5437;
    --textColorBanner1: white;
    --textColorBanner2: white;
    --textColorBanner3: white;
    
    --margin: 5vh;
    --marginItens: 10px;
    --marginForms: 40px;

    --corRacional: blue;
    --corEmocional: red;
    --corFisico: orange;
    --corNutricional: green;
    --corEspiritual: yellow;
}

html {
    scroll-behavior: smooth;
}

body, textarea {
    font-family: Arial, Helvetica, sans-serif;

    background-color: white;
}

h1, h2, h3, h4, h5, h6, ul, li, p, a, label, input, textarea, small, button {
    line-height: 1.5;

    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

a {
    text-decoration: none;

    color: black;
}

p, a, label, input, textarea, small, button {
    font-size: 18px;
}

/* Header */
header {
    display: block;

    position: fixed;

    top: 0;

    width: 100%;
}

header .header {
    display: block;
    
    clear: both;
    overflow: hidden;

    background-color: var(--backgroundHeader);

    width: 100%;
    margin: auto;
}

header .header .nav-menu {
    display: block;

    width: 90%;

    margin: auto;
    padding: 6px 0px;
}

header .header .nav-menu ul {
    display: block;

    width: fit-content;

    margin: auto;
}

header .header .nav-menu ul li {
    display: inline-block;
    margin: 0px 5px;
}

header .header .nav-menu ul li a {
    display: block;

    color: var(--textColorHeader);

    padding: 10px;

    border: 2px solid transparent;
    
    transition: all 200ms ease-in-out;
}

header .header .nav-menu ul li:first-of-type a {
    background-color: #ffffff44;
    border-radius: 5px;
}

header .header .nav-menu ul li:last-of-type a {
    background-color: var(--cor8);

    border-radius: 5px;
}

header .header .nav-menu ul li a:hover {
    border-bottom: 2px solid var(--textColorHeader);
}

header .header .nav-menu ul li:last-of-type a:hover, header .header .nav-menu ul li:first-of-type a:hover {
    border-bottom: 2px solid transparent;
}

header .header .nav-menu ul li a img {
    display: block;

    margin: auto;

    width: 5vw;
    min-width: 125px;
}

header .header .nav-menu ul li a p {
    display: block;

    color: var(--textColorHeader);
}

/* Footer */
footer {
    background-color: var(--cor8);

    padding: var(--margin) 0px 0px 0px;
}

footer .footer {
    margin: auto;
}

footer .footer .itens {
    display: flex;
    flex-wrap: wrap;

    width: 90%;
    margin: auto;
    

    vertical-align: top;
}

footer .footer .itens .item {
    display: block;

    flex: 1;

    width: fit-content;

    margin: 0px auto;

    color: white;

    border: 2px solid;

    padding: var(--marginItens);
}

footer .footer .itens .item h2 {
    display: block;

    width: fit-content;

    border-bottom: 2px solid white;
    margin-bottom: var(--marginItens);
}

footer .footer .itens .logo {}

footer .footer .itens .logo a {
    display: block;

    width: fit-content;
    margin: auto;

    background-color: #ffffff66;
    border-radius: 5px;
}

footer .footer .itens .logo a img {
    width: 150px;
}

footer .footer .itens .contato {}

footer .footer .itens .contato .telefone {
    display: block;
    margin-top: var(--marginItens);
}

footer .footer .itens .contato .telefone img {
    display: inline-block;

    width: 25px;

    margin-right: var(--marginItens);
}

footer .footer .itens .contato .telefone .telefones {
    display: inline-block;
}

footer .footer .itens .contato .email {
    display: block;
    margin-top: var(--marginItens);
}

footer .footer .itens .contato .email img {
    display: inline-block;

    width: 25px;

    margin-right: var(--marginItens);
}

footer .footer .itens .contato .email p {
    display: inline-block;
}

footer .footer .itens .contato .redesSociais {
    display: block;

    margin-top: var(--marginItens);
}

footer .footer .itens .contato .redesSociais a {
    display: inline-block;

    background-color: white;

    padding: 10px;

    border-radius: 50px;
}

footer .footer .itens .contato .redesSociais a img {
    display: block;

    aspect-ratio: 1/1;

    width: 25px;
}

footer .footer .copyright {
    display: block;

    width: 100%;

    background-color: black;

    margin-top: var(--margin);

    padding: var(--margin) 0px;
}

footer .footer .copyright p {
    display: block;

    width: fit-content;

    margin: auto;
    
    color: var(--cor1);
}